<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <broker>
        <host>localhost</host>
        <port>1883</port>
        <user>admin</user>
        <password>password</password>
    </broker>

    <!-- LHR-AMS -->
    <artifact>
        <name>Truck</name>
        <id>a1</id>
        <stream-file-path>shipment-1-data/LHR-AMS/01-LHR-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a2</id>
        <stream-file-path>shipment-1-data/LHR-AMS/02-LHR-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a3</id>
        <stream-file-path>shipment-1-data/LHR-AMS/03-LHR-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a4</id>
        <stream-file-path>shipment-1-data/LHR-AMS/04-LHR-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a5</id>
        <stream-file-path>shipment-1-data/LHR-AMS/05-LHR-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a6</id>
        <stream-file-path>shipment-1-data/LHR-AMS/06-LHR-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a7</id>
        <stream-file-path>shipment-1-data/LHR-AMS/07-LHR-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a8</id>
        <stream-file-path>shipment-1-data/LHR-AMS/08-LHR-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a9</id>
        <stream-file-path>shipment-1-data/LHR-AMS/09-LHR-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a10</id>
        <stream-file-path>shipment-1-data/LHR-AMS/10-LHR-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a11</id>
        <stream-file-path>shipment-1-data/LHR-AMS/11-LHR-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a12</id>
        <stream-file-path>shipment-1-data/LHR-AMS/12-LHR-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a13</id>
        <stream-file-path>shipment-1-data/LHR-AMS/13-LHR-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a14</id>
        <stream-file-path>shipment-1-data/LHR-AMS/14-LHR-AMS-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a15</id>
        <stream-file-path>shipment-1-data/LHR-AMS/15-LHR-AMS-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>

    <!-- AMS-LHR -->
    <artifact>
        <name>Truck</name>
        <id>a16</id>
        <stream-file-path>shipment-1-data/AMS-LHR/01-AMS-LHR-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a17</id>
        <stream-file-path>shipment-1-data/AMS-LHR/02-AMS-LHR-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a18</id>
        <stream-file-path>shipment-1-data/AMS-LHR/03-AMS-LHR-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a19</id>
        <stream-file-path>shipment-1-data/AMS-LHR/04-AMS-LHR-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a20</id>
        <stream-file-path>shipment-1-data/AMS-LHR/05-AMS-LHR-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a21</id>
        <stream-file-path>shipment-1-data/AMS-LHR/06-AMS-LHR-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a22</id>
        <stream-file-path>shipment-1-data/AMS-LHR/07-AMS-LHR-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a23</id>
        <stream-file-path>shipment-1-data/AMS-LHR/08-AMS-LHR-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a24</id>
        <stream-file-path>shipment-1-data/AMS-LHR/09-AMS-LHR-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a25</id>
        <stream-file-path>shipment-1-data/AMS-LHR/10-AMS-LHR-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a26</id>
        <stream-file-path>shipment-1-data/AMS-LHR/11-AMS-LHR-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a27</id>
        <stream-file-path>shipment-1-data/AMS-LHR/12-AMS-LHR-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>

    <!-- AMS-BRU -->
    <artifact>
        <name>Truck</name>
        <id>a28</id>
        <stream-file-path>shipment-1-data/AMS-BRU/01-AMS-BRU-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a29</id>
        <stream-file-path>shipment-1-data/AMS-BRU/02-AMS-BRU-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a30</id>
        <stream-file-path>shipment-1-data/AMS-BRU/03-AMS-BRU-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a31</id>
        <stream-file-path>shipment-1-data/AMS-BRU/04-AMS-BRU-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a32</id>
        <stream-file-path>shipment-1-data/AMS-BRU/05-AMS-BRU-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a33</id>
        <stream-file-path>shipment-1-data/AMS-BRU/06-AMS-BRU-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a34</id>
        <stream-file-path>shipment-1-data/AMS-BRU/07-AMS-BRU-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a35</id>
        <stream-file-path>shipment-1-data/AMS-BRU/08-AMS-BRU-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a36</id>
        <stream-file-path>shipment-1-data/AMS-BRU/09-AMS-BRU-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>

    <!-- BRU-AMS -->
    <artifact>
        <name>Truck</name>
        <id>a37</id>
        <stream-file-path>shipment-1-data/BRU-AMS/01-BRU-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a38</id>
        <stream-file-path>shipment-1-data/BRU-AMS/02-BRU-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a39</id>
        <stream-file-path>shipment-1-data/BRU-AMS/03-BRU-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a40</id>
        <stream-file-path>shipment-1-data/BRU-AMS/04-BRU-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a41</id>
        <stream-file-path>shipment-1-data/BRU-AMS/05-BRU-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a42</id>
        <stream-file-path>shipment-1-data/BRU-AMS/06-BRU-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a43</id>
        <stream-file-path>shipment-1-data/BRU-AMS/07-BRU-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a44</id>
        <stream-file-path>shipment-1-data/BRU-AMS/08-BRU-AMS-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a45</id>
        <stream-file-path>shipment-1-data/BRU-AMS/09-BRU-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a46</id>
        <stream-file-path>shipment-1-data/BRU-AMS/10-BRU-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a47</id>
        <stream-file-path>shipment-1-data/BRU-AMS/11-BRU-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>

    <!-- AMS-CDG -->
    <artifact>
        <name>Truck</name>
        <id>a48</id>
        <stream-file-path>shipment-1-data/AMS-CDG/01-AMS-CDG-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a49</id>
        <stream-file-path>shipment-1-data/AMS-CDG/02-AMS-CDG-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a50</id>
        <stream-file-path>shipment-1-data/AMS-CDG/03-AMS-CDG-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a51</id>
        <stream-file-path>shipment-1-data/AMS-CDG/04-AMS-CDG-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a52</id>
        <stream-file-path>shipment-1-data/AMS-CDG/05-AMS-CDG-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a53</id>
        <stream-file-path>shipment-1-data/AMS-CDG/06-AMS-CDG-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a54</id>
        <stream-file-path>shipment-1-data/AMS-CDG/07-AMS-CDG-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a55</id>
        <stream-file-path>shipment-1-data/AMS-CDG/08-AMS-CDG-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>

    <!-- CDG-AMS -->
    <artifact>
        <name>Truck</name>
        <id>a56</id>
        <stream-file-path>shipment-1-data/CDG-AMS/01-CDG-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a57</id>
        <stream-file-path>shipment-1-data/CDG-AMS/02-CDG-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a58</id>
        <stream-file-path>shipment-1-data/CDG-AMS/03-CDG-AMS-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a59</id>
        <stream-file-path>shipment-1-data/CDG-AMS/04-CDG-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a60</id>
        <stream-file-path>shipment-1-data/CDG-AMS/05-CDG-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a61</id>
        <stream-file-path>shipment-1-data/CDG-AMS/06-CDG-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a62</id>
        <stream-file-path>shipment-1-data/CDG-AMS/07-CDG-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a63</id>
        <stream-file-path>shipment-1-data/CDG-AMS/08-CDG-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a64</id>
        <stream-file-path>shipment-1-data/CDG-AMS/09-CDG-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a65</id>
        <stream-file-path>shipment-1-data/CDG-AMS/10-CDG-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>

    <!-- AMS-FRA -->
    <artifact>
        <name>Truck</name>
        <id>a66</id>
        <stream-file-path>shipment-1-data/AMS-FRA/01-AMS-FRA-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a67</id>
        <stream-file-path>shipment-1-data/AMS-FRA/02-AMS-FRA-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a68</id>
        <stream-file-path>shipment-1-data/AMS-FRA/03-AMS-FRA-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a69</id>
        <stream-file-path>shipment-1-data/AMS-FRA/04-AMS-FRA-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>

    <!-- FRA-AMS -->
    <artifact>
        <name>Truck</name>
        <id>a70</id>
        <stream-file-path>shipment-1-data/FRA-AMS/01-FRA-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a71</id>
        <stream-file-path>shipment-1-data/FRA-AMS/02-FRA-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a72</id>
        <stream-file-path>shipment-1-data/FRA-AMS/03-FRA-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a73</id>
        <stream-file-path>shipment-1-data/FRA-AMS/04-FRA-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a74</id>
        <stream-file-path>shipment-1-data/FRA-AMS/05-FRA-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a75</id>
        <stream-file-path>shipment-1-data/FRA-AMS/06-FRA-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a76</id>
        <stream-file-path>shipment-1-data/FRA-AMS/07-FRA-AMS-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>a77</id>
        <stream-file-path>shipment-1-data/FRA-AMS/08-FRA-AMS-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>

    <stakeholder>
        <name>Shipper</name>
        <process-instance>p1</process-instance>
        <stream-file-path>shipment-1-data/LHR-AMS/01-LHR-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p2</process-instance>
        <stream-file-path>shipment-1-data/LHR-AMS/02-LHR-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p3</process-instance>
        <stream-file-path>shipment-1-data/LHR-AMS/03-LHR-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p4</process-instance>
        <stream-file-path>shipment-1-data/LHR-AMS/04-LHR-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p5</process-instance>
        <stream-file-path>shipment-1-data/LHR-AMS/05-LHR-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p6</process-instance>
        <stream-file-path>shipment-1-data/LHR-AMS/06-LHR-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p7</process-instance>
        <stream-file-path>shipment-1-data/LHR-AMS/07-LHR-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p8</process-instance>
        <stream-file-path>shipment-1-data/LHR-AMS/08-LHR-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p9</process-instance>
        <stream-file-path>shipment-1-data/LHR-AMS/09-LHR-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p10</process-instance>
        <stream-file-path>shipment-1-data/LHR-AMS/10-LHR-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p11</process-instance>
        <stream-file-path>shipment-1-data/LHR-AMS/11-LHR-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p12</process-instance>
        <stream-file-path>shipment-1-data/LHR-AMS/12-LHR-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p13</process-instance>
        <stream-file-path>shipment-1-data/LHR-AMS/13-LHR-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p14</process-instance>
        <stream-file-path>shipment-1-data/LHR-AMS/14-LHR-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p15</process-instance>
        <stream-file-path>shipment-1-data/LHR-AMS/15-LHR-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>

    <stakeholder>
        <name>Shipper</name>
        <process-instance>p16</process-instance>
        <stream-file-path>shipment-1-data/AMS-LHR/01-AMS-LHR-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p17</process-instance>
        <stream-file-path>shipment-1-data/AMS-LHR/02-AMS-LHR-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p18</process-instance>
        <stream-file-path>shipment-1-data/AMS-LHR/03-AMS-LHR-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p19</process-instance>
        <stream-file-path>shipment-1-data/AMS-LHR/04-AMS-LHR-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p20</process-instance>
        <stream-file-path>shipment-1-data/AMS-LHR/05-AMS-LHR-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p21</process-instance>
        <stream-file-path>shipment-1-data/AMS-LHR/06-AMS-LHR-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p22</process-instance>
        <stream-file-path>shipment-1-data/AMS-LHR/07-AMS-LHR-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p23</process-instance>
        <stream-file-path>shipment-1-data/AMS-LHR/08-AMS-LHR-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p24</process-instance>
        <stream-file-path>shipment-1-data/AMS-LHR/09-AMS-LHR-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p25</process-instance>
        <stream-file-path>shipment-1-data/AMS-LHR/10-AMS-LHR-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p26</process-instance>
        <stream-file-path>shipment-1-data/AMS-LHR/11-AMS-LHR-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p27</process-instance>
        <stream-file-path>shipment-1-data/AMS-LHR/12-AMS-LHR-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>

    <stakeholder>
        <name>Shipper</name>
        <process-instance>p28</process-instance>
        <stream-file-path>shipment-1-data/AMS-BRU/01-AMS-BRU-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p29</process-instance>
        <stream-file-path>shipment-1-data/AMS-BRU/02-AMS-BRU-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p30</process-instance>
        <stream-file-path>shipment-1-data/AMS-BRU/03-AMS-BRU-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p31</process-instance>
        <stream-file-path>shipment-1-data/AMS-BRU/04-AMS-BRU-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p32</process-instance>
        <stream-file-path>shipment-1-data/AMS-BRU/05-AMS-BRU-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p33</process-instance>
        <stream-file-path>shipment-1-data/AMS-BRU/06-AMS-BRU-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p34</process-instance>
        <stream-file-path>shipment-1-data/AMS-BRU/07-AMS-BRU-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p35</process-instance>
        <stream-file-path>shipment-1-data/AMS-BRU/08-AMS-BRU-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p36</process-instance>
        <stream-file-path>shipment-1-data/AMS-BRU/09-AMS-BRU-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>

    <stakeholder>
        <name>Shipper</name>
        <process-instance>p37</process-instance>
        <stream-file-path>shipment-1-data/BRU-AMS/01-BRU-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p38</process-instance>
        <stream-file-path>shipment-1-data/BRU-AMS/02-BRU-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p39</process-instance>
        <stream-file-path>shipment-1-data/BRU-AMS/03-BRU-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p40</process-instance>
        <stream-file-path>shipment-1-data/BRU-AMS/04-BRU-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p41</process-instance>
        <stream-file-path>shipment-1-data/BRU-AMS/05-BRU-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p42</process-instance>
        <stream-file-path>shipment-1-data/BRU-AMS/06-BRU-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p43</process-instance>
        <stream-file-path>shipment-1-data/BRU-AMS/07-BRU-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p44</process-instance>
        <stream-file-path>shipment-1-data/BRU-AMS/08-BRU-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p45</process-instance>
        <stream-file-path>shipment-1-data/BRU-AMS/09-BRU-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p46</process-instance>
        <stream-file-path>shipment-1-data/BRU-AMS/10-BRU-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p47</process-instance>
        <stream-file-path>shipment-1-data/BRU-AMS/11-BRU-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>

    <stakeholder>
        <name>Shipper</name>
        <process-instance>p48</process-instance>
        <stream-file-path>shipment-1-data/AMS-CDG/01-AMS-CDG-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p49</process-instance>
        <stream-file-path>shipment-1-data/AMS-CDG/02-AMS-CDG-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p50</process-instance>
        <stream-file-path>shipment-1-data/AMS-CDG/03-AMS-CDG-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p51</process-instance>
        <stream-file-path>shipment-1-data/AMS-CDG/04-AMS-CDG-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p52</process-instance>
        <stream-file-path>shipment-1-data/AMS-CDG/05-AMS-CDG-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p53</process-instance>
        <stream-file-path>shipment-1-data/AMS-CDG/06-AMS-CDG-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p54</process-instance>
        <stream-file-path>shipment-1-data/AMS-CDG/07-AMS-CDG-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p55</process-instance>
        <stream-file-path>shipment-1-data/AMS-CDG/08-AMS-CDG-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>

    <stakeholder>
        <name>Shipper</name>
        <process-instance>p56</process-instance>
        <stream-file-path>shipment-1-data/CDG-AMS/01-CDG-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p57</process-instance>
        <stream-file-path>shipment-1-data/CDG-AMS/02-CDG-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p58</process-instance>
        <stream-file-path>shipment-1-data/CDG-AMS/03-CDG-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p59</process-instance>
        <stream-file-path>shipment-1-data/CDG-AMS/04-CDG-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p60</process-instance>
        <stream-file-path>shipment-1-data/CDG-AMS/05-CDG-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p61</process-instance>
        <stream-file-path>shipment-1-data/CDG-AMS/06-CDG-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p62</process-instance>
        <stream-file-path>shipment-1-data/CDG-AMS/07-CDG-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p63</process-instance>
        <stream-file-path>shipment-1-data/CDG-AMS/08-CDG-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p64</process-instance>
        <stream-file-path>shipment-1-data/CDG-AMS/09-CDG-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p65</process-instance>
        <stream-file-path>shipment-1-data/CDG-AMS/10-CDG-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>

    <!-- AMS-FRA -->
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p66</process-instance>
        <stream-file-path>shipment-1-data/AMS-FRA/01-AMS-FRA-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p67</process-instance>
        <stream-file-path>shipment-1-data/AMS-FRA/02-AMS-FRA-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p68</process-instance>
        <stream-file-path>shipment-1-data/AMS-FRA/03-AMS-FRA-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p69</process-instance>
        <stream-file-path>shipment-1-data/AMS-FRA/04-AMS-FRA-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>

    <!-- FRA-AMS -->
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p70</process-instance>
        <stream-file-path>shipment-1-data/FRA-AMS/01-FRA-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p71</process-instance>
        <stream-file-path>shipment-1-data/FRA-AMS/02-FRA-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p72</process-instance>
        <stream-file-path>shipment-1-data/FRA-AMS/03-FRA-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p73</process-instance>
        <stream-file-path>shipment-1-data/FRA-AMS/04-FRA-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p74</process-instance>
        <stream-file-path>shipment-1-data/FRA-AMS/05-FRA-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p75</process-instance>
        <stream-file-path>shipment-1-data/FRA-AMS/06-FRA-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p76</process-instance>
        <stream-file-path>shipment-1-data/FRA-AMS/07-FRA-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>p77</process-instance>
        <stream-file-path>shipment-1-data/FRA-AMS/08-FRA-AMS-shipper.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>

</configuration>